*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar input[type=checkbox],
.navbar .hamburger-lines{
  display: none;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.navbar{
  box-shadow: 0 2px 10px 0 #aaa;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.999);
  color: black;
  opacity: 0.85;
  z-index: 100;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 0 100px;
}
.menu-items{
  order: 2;
  display: flex;
}
.logo{
  order: 1;
  display: flex;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0.2px 0.2px 3px rgb(124, 117, 117);
  text-decoration: none;
}
.logo:hover{
  cursor: pointer;
  transition: 0.1s;
}
.menu-items li{
  list-style-type: none;
  margin-left: 1.3rem;
  font-size: 1.3rem;
  font-weight: 100px;
}
.navbar ul a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 530;
  transition: color 0.1s ease-in-out;
  padding: 5px 2px;
  /* text-shadow: 0.5px 0.5px red; */
}
.navbar li a:hover{
  color: #fff;
  box-shadow: 0 3px 0 0 #fff;
  /* text-shadow: 0.5px 0.5px rgb(7, 94, 255); */
}
.navbar ul .current{
  color: rgb(255, 116, 2);
  /* box-shadow: 0 3px 0 0 rgb(255, 116, 2) ; */
}

@media (max-width:900px) {
  .navbar{
    opacity: 0.95;
  }
  .navbar-container, input[type="checkbox"],
  .navbar-container, .hamburger-lines{
    display: block;
  }
  .navbar-container{
    position: relative;
    display: block;
    height: 64px;

  }
  .navbar-container input[type="checkbox"]{
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines{
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(139, 137, 137);

  }
  .navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2{
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items{
    padding-top: 100px;
    background: rgb(119, 113, 113);
    height: 100vh;
    max-width: 260px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -100px ;
    padding-left: 40px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 0 10px 0 red;
    overflow: scroll;
    overflow-x: hidden;
    border-right: 2px solid red;
  }
  .navbar .menu-items li{
    position: relative;
    margin-bottom: 1.8rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .logo{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }
  .navbar-container input[type=checkbox]:checked ~.menu-items{
    transform: translateX(0);
  }
  .navbar-container input[type=checkbox]:checked ~.hamburger-lines .line1{
    transform: rotate(45deg);
  }
  .navbar-container input[type=checkbox]:checked ~.hamburger-lines .line2{
    transform: scaleY(0);
  }
  .navbar-container input[type=checkbox]:checked ~.hamburger-lines .line3{
    transform: rotate(-45deg);
  }
  
}
@media (max-width:500px) {
  .navbar-container input[type="checkbox"]:checked ~.logo{
    display: none;
  }
}