*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding-top: 50px;
}
h1{
  color: rgb(255, 146, 4);
  margin: 25px auto;
  text-align: center;
}
h2{
  text-align: center;
  margin-top: 10px;
  color: dodgerblue;
}
.sign{
  margin-top: 200px;
  height: 500px;
  width: 340px;
  margin: auto;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  /* background-image: url(../xurshidbek/images.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
.sign input{
  margin-top: 20px;
  width: 90%;
  margin: 30px auto;
  color: chocolate;
  font-size: medium;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
  margin: 5px 120px ;
  width: 100px;
}
.terms{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  margin: 10px 30px;
}

.log{
  text-align: center;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.log a{
  text-decoration: none;
  font-weight: 500;
  color: rgb(7, 7, 253);
}
.log a:hover{
  text-decoration: underline;
}
.back{
  position: relative;
  top: 5%;
  left: 80%;
  color: rgb(20, 19, 19);
  text-decoration: none;
  font-family: sans-serif;
  margin-top: 20px;
  font-size: medium;
  font-weight: 550;
}
.back:hover{
  color: rgb(179, 58, 88);
  text-decoration: underline;
  transition: 0.2s;
}







.error{
  font-family: sans-serif;
  color: red;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fafafa00;
  height: 30px;
  width: 80%;
  line-height: 1.8;
  animation-name: error-keys;
  animation-duration: 0.2s;
  animation-direction: alternate;
  margin: auto;
}
@keyframes error-keys{
  0%{
    transform:translateX(2px)
  }
  50%{
    transform:translateX(-2px);
  }
}























